@use "@/styles/variables" as *;

.header {
  background-color: $secondary-color;
  color: $cta-color;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 64px;
  display: flex;
  align-items: center;

  &__nav {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 $spacing-md;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    @media (min-width: $breakpoint-md) {
      padding: 0 $spacing-lg;
    }

    @media (min-width: $breakpoint-lg) {
      padding: 0 $spacing-xl;
    }
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 600;
  }

  &__actions {
    display: flex;
    gap: $spacing-md;
  }

  &__link {
    color: $cta-color;
    text-decoration: none;
    font-weight: 500;
    padding: $spacing-sm $spacing-md;
    /* border-radius: 4px; */
    transition: background-color 0.2s ease;

    &:hover {
      color: $cta-color-hover;
    }

    &.active {
      color: $cta-color-hover;
    }
  }
}
